<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- INCLUDES -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- COMPOSE APPENDERS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <root level="${logback.root.level:-info}">
        <appender-ref ref="CONSOLE"/>
    </root>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- LEVELS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <logger name="org.springframework" level="${logback.org.springframework.level:-warn}"/>
    <logger name="org.hibernate.SQL" level="${logback.org.hibernate.SQL.level:-info}"/>
    <logger name="com.zaxxer" level="${logback.com.zaxxer.level:-warn}"/>

</configuration>
